// screen and (max-width:992px)

@media (max-width: 992px) {

        .w-100 {
            height: 320px;
        }
        main {
            .nav-sticky :hover {
                color: #000;
            }
        }
    }
// screen and (max-width:767px)


@media only screen and (max-width:767px) {
        nav {
            .container-fluid {
                .navbar-phone {
                    display: none;
                }
            }
            .nav-sity-inf {
                li a {
                    font-size: 16px;
                }
            }
            .nav-sity-inf {
                display: none;
            }
        }
    }




// screen and (max-width:500px)


@media only screen and (max-width:500px) {

}


    // screen and (max-width:374px)


@media only screen and (max-width:374px) {
        nav {
            .nav-cart {
                    display: none;
            }
        }
}
        
