@import "nullstyle.css";

body {
    font-family: 'Roboto', sans-serif; 
}

nav {
    border-bottom: solid 1px rgb(167, 167, 167);
    .container-fluid {
        .navbar-toggler {
            background-color: #ea382c;
            border-radius: 50%;
            border: 0;
        }
        .lol {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .image-logo {
            width: 100%;
            height: 45px;
        }
        .right-nav {
            margin-right: 10px;
            .cart-text {
                font-size: 14px;
            }  
            img {
                width: 100%;
                height: 30px;
            }
            span {
                margin-left: 10px;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }                    
        }
    }
    .nav-small-text {
        font-size: small;
        color: rgb(145, 145, 145);
    }
    .nav-menu {
        ul {
            li {
                a {
                    font-size: 18px; 
                    margin: 6px;
                }
            }
        }
    }
    .main-line {
        background-color: rgb(167, 167, 167);
        width: 100%;
        height: 1px;
        margin-top: 20px;
    }
    .main-number {
        h6 {
            font-size: small;
            color: rgb(145, 145, 145);
            margin: 20px 0 0px 0;
        }
        p {
            font-size: 20px;
            margin: 10px 0 10px 0;
        }
    }
    .nav-form-seach {
        button {
            background-color: #e05348;
            border-color: #e05348;
            color: #000000;
        }
    }
}

.main-nav {
    background-color: white;
}
.carousel-inner {
    border-radius: 2%;
}
    .header-carousel {
        margin-top: 100px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        .header-carousel-image {
            width: 100%;
            border-radius: 15px;
        }
        .carousel-indicators {
            width: 80%;
            border: 5px;
            border-color: #000000;
        }
    }  
    .nav-sticky :hover {
        color: #ea382c;
    }
    .nav-pills .nav-link.active {
        background-color: #ea382c;
    }

    .nav-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 88px;
        background-color: #ffffff;
        height: 52px;
        padding-top: 10px;
        margin-top: 20px;
        padding-left: 20px;
        z-index: 1;
        //border-bottom: solid 0.05px rgb(167, 167, 167);
        li {
            button {
                color:#000000;
            }
            button:active{
                background-color: #ea382c;
            }
        }
    }
    
main {
    .cont {
        margin-left: 30px;
        .row {
            margin-top: 20px;
            margin-bottom: 40px;
            .main-title {
                h2 {
                    font-size: 30px;
                    font-weight: 600;
                    margin-top: 20px;
                    margin-bottom: 40px;
                    position:relative;
                    span {
                        position:absolute; 
                        top:-180px;
                    }
                }
            }
            .card {
               
                
                .card-img-top {
                    width: 100%;
                }
                .btn {
                    background-color: #ea382c;
                    color: #ffffff;
                    width: 60%;
                    height: 50px;
                    font-size: 24px;
                    border-radius: 15px;
                }
                .btn:hover {
                    background-color: silver; 
                }
                .card-body {
                    .card-title {
                        font-size: 18px;
                        color: #2b2b2b;
                    }
                    .card-text {
                        color: rgb(145, 145, 145);
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                    a {
                        text-decoration: none;
                    }
                }
            }
            .card:hover {
                border: 1px;
            }
            .card-first {
                margin: 0px;
            }
            .main-line {
                background-color: rgb(167, 167, 167);
                width: 100%;
                height: 1px;
                margin-top: 20px;
            }
        }
    }
}


    @import "adaptiv.scss";