
// screen and (max-width:1200px)
@media (max-width: 1200px) {
    main .nav-pills .nav-item {
        font-size: 17px;
    }
}


// screen and (max-width:992px)

@media (max-width: 992px) {
        .w-100 {
            height: 320px;
        }
        .navbar-phone {
            font-size: 19px;
        }
        main {
            .nav-pills {
                height: 85px;
                .nav-item {
                    font-size: 19px;
                }
            }
            .nav-sticky :hover {
                color: #000;
            }
        }
        nav .container-fluid .navbar-phone {
            font-size: 18px;
        }
        .nav-sity-inf {
            li .nav-sity-inf-city {
                font-size: 18px;
            }
            .nav-sity-inf-date {
                font-size: 11px;
            }
        }

      
    main .cont .cart-box .card {
        height: 250px;
    }
    main .cont .cart-box .card2 {
        height: 340px;
    }
    main .cont .cart-box .card3 {
        height: 340px;
    }
    main .cont .cart-box .card4 {
        height: 340px;
    }

}
// screen and (max-width:767px)


@media only screen and (max-width:767px) {
    nav {
        .container-fluid {
            .navbar-phone {
                display: none;
            }
        }
        .nav-sity-inf {
            li a {
                font-size: 16px;
            }
        }
        .nav-sity-inf {
            .nav-sity-inf-date {
                font-size: 10px;
            }
        }
    }
        main .cont .row .main-title h2 {
            font-size: 26px
        }
        main {
            .nav-pills {
                height: 79px;
                .nav-item {
                    font-size: 16px;
                }
            }
            .nav-sticky :hover {
                color: #000;
            }
        }

        main .cont .cart-box .card .card-body .card-title {
            font-size: 17px;
        }
        main .cont .cart-box .card .card-body .card-text {
            font-size: 14px;
        }
        main .cont .cart-box .card .card-body .card-text a {
            font-size: 15px;
        }

}



// screen and (max-width:550px)


@media only screen and (max-width:550px) {

    header .cart-body .cart-image img {
        width: 75px;
        height: 60px;
    }
    header .cart-body .cart-name {
        font-size: 14px;
        margin-left: 3px;
    }
    header .cart-body .cart-count .count-plus {
        width: 23px;
        height: 23px;
        span {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    header .cart-body .cart-count .count-minus {
        width: 23px;
        height: 23px;
         span {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    nav {  
        .nav-sity-inf {
            display: none;           
        }
    }
    main {
        .nav-sticky {
            padding-top: 5px;
        }
        .nav-pills {
            height: 110px;
            .nav-item {
                font-size: 18px;
            }
        }
        .nav-sticky :hover {
            color: #000;
        }
    }

    main .cont .cart-box .card {
        height: 200px;
    }
    main .cont .cart-box .card2 {
        height: 275px;
        max-width: 100%;
    }
    main .cont .cart-box .card4 {
        height: 300px;
    }

    main .cont .cart-box .card .card-body .card-title {
        font-size: 22px;
    }
    main .cont .cart-box .card .card-body .card-text {
        font-size: 18px;
    }
    main .cont .cart-box .card .card-body .card-text a {
        font-size: 24px;
    }



    footer .container .row .footer-image a img {
        height: 50px;
        width: 200px;
    }
    footer .container .row .footer-text p {
        font-size: 15px;
    }
}


    // screen and (max-width:400px)


@media only screen and (max-width:400px) {
    header nav .container-fluid .nav-class {
        width: 110px;
        margin-top: 2px;
    }

    header .cart-body {
        margin-bottom: 25px;
    }
    header .cart-body .cart-image img {
        display: none;
    }
    header .cart-body .cart-name {
        font-size: 14px;
        margin-left: 3px;
    }
    header .cart-body .cart-prise {
        width: 55px;
        font-size: 15px;
    }

    nav .container-fluid .right-nav {
        margin-right: -10px;
    }
    nav .container-fluid .navbar-toggler {
        width: 40px;
        height: 40px;
        margin-top: 7px;
    }
    .navbar-toggler-icon {
        width: 1.2em;
        height: 1.2em;
        position: fixed;
        top: 23px;
        left: 21px;
    }
    nav {
        .nav-cart {
                display: none;
        }
    }
    main {
        .nav-pills {
            height: 100px;
            .nav-item {
                font-size: 14px;
            }
        }
    }
    footer .container .row .footer-text {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    footer .container .row .footer-text p a {
        white-space: nowrap;
    }
        
}
        
