@import "nullstyle.css";
html, body {
  scroll-behavior: auto !important;
}

body {
  font-family: "Jost", sans-serif;
  color: #000000;
}

header .cart-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .cart-body .cart-image img {
  width: 100px;
  height: 80px;
}
header .cart-body .cart-name {
  margin-left: 20px;
}
header .cart-body .cart-count {
  margin-left: auto;
}
header .cart-body .cart-count .count-minus {
  width: 28px;
  height: 28px;
  color: #ea382c;
  font-size: large;
  background-color: #ffffff;
  border-color: #ea382c;
  border-radius: 50%;
  border-style: solid;
  font-family: "Roboto", sans-serif;
}
header .cart-body .cart-count .count-minus span {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .cart-body .cart-count span {
  margin-left: 2px;
  margin-right: 2px;
  font-family: "Roboto", sans-serif;
}
header .cart-body .cart-count .count-plus {
  width: 28px;
  height: 28px;
  color: #ea382c;
  font-size: large;
  background-color: #ffffff;
  border-color: #ea382c;
  border-radius: 50%;
  border-style: solid;
  font-family: "Roboto", sans-serif;
}
header .cart-body .cart-count .count-plus span {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .cart-body .cart-prise {
  margin-left: 20px;
  width: 60px;
  text-align: right;
  font-family: "Roboto", sans-serif;
}
header .modal-body-line {
  width: 100%;
  height: 1px;
  background-color: rgb(226, 226, 226);
}
header .modal-body-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}
header .modal-body-price p {
  margin: 20px;
  font-family: "Roboto", sans-serif;
}

nav {
  border-bottom: solid 1px rgb(226, 226, 226);
  height: 80px;
}
nav .container-fluid .navbar-toggler {
  background-color: #ea382c;
  border-radius: 50%;
  border: 0;
}
nav .container-fluid .nav-class {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .container-fluid .image-logo {
  width: 100%;
  height: 45px;
}
nav .container-fluid .navbar-phone {
  font-size: 24px;
}
nav .container-fluid .right-nav {
  margin-right: 10px;
  cursor: pointer;
}
nav .container-fluid .right-nav .cart-text {
  font-size: 16px;
  font-weight: 500;
}
nav .container-fluid .right-nav img {
  width: 100%;
  height: 30px;
}
nav .container-fluid .right-nav .basket-name {
  margin-left: 10px;
  margin-right: 11px;
  margin-top: -10px;
  color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .container-fluid .right-nav .basket-count-icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ea382c;
  position: relative;
  top: -5px;
  left: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 12px;
}
nav .nav-small-text {
  font-size: 16px;
  color: rgb(145, 145, 145);
  margin-left: 5px;
}
nav .navbar-nav .nav-link.active:hover, nav .navbar-nav .nav-link.show:hover {
  color: #ea382c;
}
nav .nav-menu ul li a {
  font-size: 18px;
  margin: 6px;
}
nav .main-line {
  background-color: rgb(226, 226, 226);
  width: 100%;
  height: 1px;
  margin-top: 20px;
}
nav .main-number h6 {
  font-size: 14px;
  color: rgb(145, 145, 145);
  margin: 20px 0 0px 0;
}
nav .main-number p {
  font-size: 22px;
  margin: 10px 0 10px 0;
}
nav .main-number p a {
  text-decoration: none;
  color: #000000;
}
nav .main-number p span {
  font-size: 14px;
  color: rgb(145, 145, 145);
  margin-left: 20px;
  padding-bottom: 5px;
}
nav .main-info-city {
  margin: 25px 0px 0px 0;
}
nav .main-info-city .main-city {
  font-size: 20px;
  color: #000000;
}
nav .main-info-city .main-city-date {
  font-size: 14px;
  color: rgb(145, 145, 145);
  margin: 10px 0px 0px 0;
}
nav .main-info-vk .main-vk-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
nav .main-info-vk a .main-img-vk {
  width: 100%;
  height: 50px;
  border-radius: 20px;
}

.main-nav {
  background-color: white;
}

main .nav-pills {
  border-bottom: solid 1px rgb(226, 226, 226);
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.1);
}
main .nav-pills .nav-item {
  font-size: 20px;
}
main .nav-pills .nav-item .nav-link {
  border-radius: 12px;
}
main .nav-sticky :hover {
  color: #ea382c;
}
main .nav-pills .nav-link.active {
  background-color: #ea382c;
}
main .nav-sticky {
  position: sticky;
  top: 80px;
  background-color: #ffffff;
  height: 57px;
  padding-top: 10px;
  margin-top: 80px;
  padding-left: 20px;
  z-index: 1;
}
main .nav-sticky li button {
  color: #000000;
}
main .nav-sticky li button:active {
  background-color: #ea382c;
}

article {
  text-align: center;
  margin-top: 100px;
}
article h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}
article .customer-information {
  max-width: 605px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
article .customer-information .info-box1 {
  height: 60px;
  border: solid 1px rgb(226, 226, 226);
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}
article .customer-information .info-box1 .label-input {
  width: 100%;
}
article .customer-information .info-box1 .label-input .info-name {
  width: 90%;
  border: 1px solid #ffffff;
  outline: none;
  padding-left: 10px;
  padding-top: 15px;
  font-size: 20px;
}
article .customer-information .info-box1 .info-name-span {
  color: rgb(196, 105, 105);
  position: relative;
  top: 15px;
}
article .customer-information .info-box2 {
  height: 60px;
  border: solid 1px rgb(226, 226, 226);
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}
article .customer-information .info-box2 .label-input {
  width: 100%;
}
article .customer-information .info-box2 .label-input .info-tel {
  width: 90%;
  border: 1px solid #ffffff;
  outline: none;
  padding-left: 10px;
  padding-top: 15px;
  font-size: 20px;
}
article .customer-information .info-box2 .number-span {
  color: rgb(196, 105, 105);
  position: relative;
  top: 15px;
}
article .customer-information .info-box3 {
  height: 60px;
  border: solid 1px rgb(226, 226, 226);
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}
article .customer-information .info-box3 .label-input {
  width: 100%;
}
article .customer-information .info-box3 .label-input .info-promo {
  width: 90%;
  border: 1px solid #ffffff;
  outline: none;
  padding-left: 10px;
  padding-top: 15px;
  font-size: 20px;
}
article .customer-information .info-box3 .label-input .btn-promo {
  display: none;
  margin-left: auto;
  margin-right: 15px;
  margin-top: -38px;
  position: relative;
}
article .customer-information .info-box3 .promo-span {
  color: rgb(196, 105, 105);
  position: relative;
  top: 15px;
}
article .customer-information .info-box4 {
  height: 60px;
  border: solid 1px rgb(226, 226, 226);
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}
article .customer-information .info-box4 .label-input {
  width: 100%;
}
article .customer-information .info-box4 .label-input .info-adres {
  width: 90%;
  border: 1px solid #ffffff;
  outline: none;
  padding-left: 10px;
  padding-top: 15px;
  font-size: 20px;
}
article .customer-information .info-box4 .adres-span {
  color: rgb(196, 105, 105);
  position: relative;
  top: 15px;
}
article .customer-information #valid {
  border: solid 1px rgb(105, 196, 124);
}
article .customer-information #invalid {
  border: solid 1px rgb(196, 105, 105);
}
article .order-box {
  margin-bottom: 80px;
}
article .order-box h3 {
  font-size: 26px;
  font-weight: 600;
}
article .order-box .order {
  margin-top: 50px;
}
article .order-box .order .order-body {
  max-width: 605px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px rgb(238, 238, 238);
}
article .order-box .order .order-body .order-image {
  width: 170px;
}
article .order-box .order .order-body .order-image img {
  width: 150px;
  height: 100px;
}
article .order-box .order .order-body .order-name {
  width: 200px;
  font-size: 22px;
  margin-left: 10px;
}
article .order-box .order .order-body .order-count {
  margin-left: 20px;
  width: 130px;
}
article .order-box .order .order-body .order-count .order-count-minus {
  width: 34px;
  height: 34px;
  color: #ea382c;
  font-size: large;
  background-color: #ffffff;
  border-color: #ea382c;
  border-radius: 50%;
  border-style: solid;
  font-family: "Roboto", sans-serif;
}
article .order-box .order .order-body .order-count .order-count-minus span {
  display: flex;
  align-items: center;
  justify-content: center;
}
article .order-box .order .order-body span {
  margin-left: 2px;
  margin-right: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
article .order-box .order .order-body .order-count-plus {
  width: 34px;
  height: 34px;
  color: #ea382c;
  font-size: large;
  background-color: #ffffff;
  border-color: #ea382c;
  border-radius: 50%;
  border-style: solid;
  font-family: "Roboto", sans-serif;
}
article .order-box .order .order-prise {
  width: 100px;
  margin-left: 20px;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
article .order-total-price {
  background-color: rgb(234, 236, 242);
  padding-top: 30px;
  padding-bottom: 30px;
}
article .order-total-price .order-total-summ {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px rgb(226, 226, 226);
  max-width: 605px;
  padding-bottom: 20px;
}
article .order-total-price .order-total-summ .total-summ {
  margin-right: auto;
  font-size: 24px;
}
article .order-total-price .order-total-summ .order-currency {
  font-size: 20px;
}
article .order-total-price .order-total-summ span {
  font-size: 20px;
  margin-left: 3px;
}
article .order-total-price .order-total-sale {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px rgb(226, 226, 226);
  max-width: 605px;
  padding-bottom: 20px;
}
article .order-total-price .order-total-sale .total-sale {
  margin-right: auto;
  font-size: 24px;
}
article .order-total-price .order-total-sale .order-sale {
  font-size: 20px;
}
article .order-total-price .order-total-sale span {
  font-size: 20px;
  margin-left: 3px;
}
article .order-total-price .order-total {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  max-width: 605px;
  font-weight: 600;
}
article .order-total-price .order-total .order-summ {
  margin-right: auto;
  font-size: 28px;
}
article .order-total-price .order-total .order-total-currency {
  font-size: 24px;
}
article .order-total-price .order-total span {
  font-size: 24px;
  margin-left: 3px;
}
article .order-total-price .order-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  max-width: 605px;
  font-weight: 600;
}
article .order-total-price .order-button .btn-order {
  width: 100%;
  font-size: 28px;
  border-color: #ea382c;
  background-color: #ea382c;
  border-radius: 15px;
}
article .modal .modal-title {
  font-size: 24px;
}
article .modal .modal-body {
  font-size: 20px;
}
article .modal .btn-primary {
  font-size: 20px;
}
article .modal .btn-secondary {
  font-size: 20px;
}

footer .footer-top-line {
  background-color: rgb(226, 226, 226);
  width: 100%;
  height: 1px;
  margin-bottom: 30px;
}
footer .container .row .footer-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container .row .footer-image img {
  width: 100%;
  height: 70px;
}
footer .container .row .footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
footer .container .row .footer-text p {
  color: rgb(167, 167, 167);
}
footer .container .row .footer-text p a {
  text-decoration: none;
  color: #000000;
}
footer .container .row .footer-line {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container .row .footer-line .line {
  background-color: rgb(226, 226, 226);
  width: 50%;
  height: 1px;
  margin-bottom: 20px;
}
footer .container .row .footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
footer .container .row .footer-link img {
  width: 150px;
  height: 50px;
  border-radius: 20px;
}
footer .footer-end .end {
  width: 100%;
  background-color: #000000;
  height: 50px;
}

@media (max-width: 1200px) {
  main .nav-pills .nav-item {
    font-size: 17px;
  }
}
@media (max-width: 992px) {
  .w-100 {
    height: 320px;
  }
  .navbar-phone {
    font-size: 19px;
  }
  main .nav-pills {
    height: 85px;
  }
  main .nav-pills .nav-item {
    font-size: 19px;
  }
  main .nav-sticky :hover {
    color: #000;
  }
  nav .container-fluid .navbar-phone {
    font-size: 18px;
  }
  .nav-sity-inf li .nav-sity-inf-city {
    font-size: 18px;
  }
  .nav-sity-inf .nav-sity-inf-date {
    font-size: 11px;
  }
}
@media only screen and (max-width: 767px) {
  nav .container-fluid .navbar-phone {
    display: none;
  }
  nav .nav-sity-inf li a {
    font-size: 16px;
  }
  nav .nav-sity-inf .nav-sity-inf-date {
    font-size: 10px;
  }
  main .cont .row .main-title h2 {
    font-size: 26px;
  }
  main .nav-pills {
    height: 79px;
  }
  main .nav-pills .nav-item {
    font-size: 16px;
  }
  main .nav-sticky :hover {
    color: #000;
  }
  article h1 {
    font-size: 26px;
  }
  article .customer-information {
    max-width: 500px;
  }
  article .customer-information .info-box1 .label-input .info-name {
    font-size: 18px;
  }
  article .customer-information .info-box2 .label-input .info-tel {
    font-size: 18px;
  }
  article .customer-information .info-box4 .label-input .info-adres {
    font-size: 18px;
  }
  article .order-box h3 {
    font-size: 24px;
  }
  article .order-box .order .order-body {
    max-width: 510px;
  }
  article .order-box .order .order-body .order-image {
    width: 120px;
  }
  article .order-box .order .order-body .order-image img {
    width: 120px;
    height: 80px;
  }
  article .order-box .order .order-body .order-name {
    width: 200px;
    font-size: 18px;
  }
  article .order-box .order .order-body .order-count {
    width: 100px;
  }
  article .order-box .order .order-body .order-count .order-count-minus {
    width: 26px;
    height: 26px;
  }
  article .order-box .order .order-body .order-count .order-count-plus {
    width: 26px;
    height: 26px;
  }
  article .order-box .order .order-body span {
    margin-left: 0px;
    margin-right: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }
  article .order-box .order .order-body .order-prise {
    width: 90px;
  }
  article .order-total-price .order-total-summ {
    max-width: 500px;
  }
  article .order-total-price .order-total-summ .total-summ {
    font-size: 24px;
  }
  article .order-total-price .order-total-sale {
    max-width: 500px;
  }
  article .order-total-price .order-total {
    max-width: 500px;
  }
  article .order-total-price .order-button {
    max-width: 500px;
  }
}
@media only screen and (max-width: 550px) {
  header .cart-body .cart-image img {
    width: 75px;
    height: 60px;
  }
  header .cart-body .cart-name {
    font-size: 14px;
    margin-left: 3px;
  }
  header .cart-body .cart-count .count-plus {
    width: 23px;
    height: 23px;
  }
  header .cart-body .cart-count .count-plus span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .cart-body .cart-count .count-minus {
    width: 23px;
    height: 23px;
  }
  header .cart-body .cart-count .count-minus span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav .nav-sity-inf {
    display: none;
  }
  main .nav-sticky {
    padding-top: 5px;
  }
  main .nav-pills {
    height: 110px;
  }
  main .nav-pills .nav-item {
    font-size: 18px;
  }
  main .nav-sticky :hover {
    color: #000;
  }
  article {
    margin-top: 50px;
  }
  article h1 {
    font-size: 24px;
  }
  article .customer-information {
    max-width: 380px;
  }
  article .customer-information .info-box1 .label-input .info-name {
    font-size: 17px;
  }
  article .customer-information .info-box1 .info-name-span {
    top: 20px;
  }
  article .customer-information .info-box2 .label-input .info-tel {
    font-size: 17px;
  }
  article .customer-information .info-box2 .number-span {
    top: 20px;
  }
  article .customer-information .info-box4 .label-input .info-adres {
    font-size: 16px;
  }
  article .customer-information .info-box4 .adres-span {
    top: 20px;
  }
  article .order-box {
    margin-bottom: 50px;
  }
  article .order-box h3 {
    font-size: 22px;
  }
  article .order-box .order {
    margin-top: 30px;
  }
  article .order-box .order .order-body {
    max-width: 380px;
  }
  article .order-box .order .order-body .order-image {
    width: 75px;
  }
  article .order-box .order .order-body .order-image img {
    width: 75px;
    height: 60px;
  }
  article .order-box .order .order-body .order-name {
    width: 120px;
    font-size: 17px;
    margin-left: 8px;
  }
  article .order-box .order .order-body .order-count {
    width: 100px;
  }
  article .order-box .order .order-body .order-count .order-count-minus {
    width: 26px;
    height: 26px;
  }
  article .order-box .order .order-body .order-count .order-count-plus {
    width: 26px;
    height: 26px;
  }
  article .order-box .order .order-body span {
    margin-left: 0px;
    margin-right: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
  }
  article .order-box .order .order-body .order-prise {
    margin-left: 10px;
    width: 90px;
  }
  article .order-total-price .order-total-summ {
    max-width: 380px;
    margin-top: 0px;
    padding-bottom: 15px;
  }
  article .order-total-price .order-total-summ .total-summ {
    font-size: 22px;
  }
  article .order-total-price .order-total-sale {
    max-width: 380px;
    margin-top: 10px;
    padding-bottom: 15px;
  }
  article .order-total-price .order-total {
    max-width: 380px;
    margin-top: 35px;
  }
  article .order-total-price .order-total .order-summ {
    font-size: 24px;
  }
  article .order-total-price .order-button {
    max-width: 380px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 24px;
  }
  article .order-total-price .order-button .btn-order {
    font-size: 24px;
  }
  footer .container .row .footer-image a img {
    height: 50px;
    width: 200px;
  }
  footer .container .row .footer-text p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 400px) {
  header nav .container-fluid .nav-class {
    width: 110px;
    margin-top: 2px;
  }
  header .cart-body {
    margin-bottom: 25px;
  }
  header .cart-body .cart-image img {
    display: none;
  }
  header .cart-body .cart-name {
    font-size: 14px;
    margin-left: 3px;
  }
  header .cart-body .cart-prise {
    width: 55px;
    font-size: 15px;
  }
  nav .container-fluid .right-nav {
    margin-right: -10px;
  }
  nav .nav-cart {
    display: none;
  }
  main .nav-pills {
    height: 100px;
  }
  main .nav-pills .nav-item {
    font-size: 14px;
  }
  article {
    margin-top: 50px;
  }
  article h1 {
    font-size: 24px;
  }
  article .customer-information {
    max-width: 300px;
  }
  article .customer-information .info-box1 .label-input .info-name {
    font-size: 17px;
  }
  article .customer-information .info-box1 .info-name-span {
    top: 20px;
  }
  article .customer-information .info-box2 .label-input .info-tel {
    font-size: 17px;
  }
  article .customer-information .info-box2 .number-span {
    top: 20px;
  }
  article .customer-information .info-box4 .label-input .info-adres {
    font-size: 16px;
  }
  article .customer-information .info-box4 .adres-span {
    top: 20px;
  }
  article .order-box {
    margin-bottom: 50px;
  }
  article .order-box h3 {
    font-size: 22px;
  }
  article .order-box .order {
    margin-top: 30px;
  }
  article .order-box .order .order-body {
    max-width: 300px;
    height: 60px;
  }
  article .order-box .order .order-body .order-image {
    display: none;
  }
  article .order-box .order .order-body .order-name {
    width: 120px;
    font-size: 17px;
    margin-left: 8px;
  }
  article .order-box .order .order-body .order-count {
    width: 100px;
  }
  article .order-box .order .order-body .order-count .order-count-minus {
    width: 26px;
    height: 26px;
  }
  article .order-box .order .order-body .order-count .order-count-plus {
    width: 26px;
    height: 26px;
  }
  article .order-box .order .order-body span {
    margin-left: 0px;
    margin-right: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
  }
  article .order-box .order .order-body .order-prise {
    margin-left: 10px;
    width: 90px;
  }
  article .order-total-price .order-total-summ {
    max-width: 300px;
    margin-top: 0px;
    padding-bottom: 15px;
  }
  article .order-total-price .order-total-summ .total-summ {
    font-size: 18px;
  }
  article .order-total-price .order-total-summ .order-currency {
    font-size: 18px;
  }
  article .order-total-price .order-total-sale {
    max-width: 300px;
    margin-top: 10px;
    padding-bottom: 15px;
    font-size: 18px;
  }
  article .order-total-price .order-total-sale .total-sale {
    font-size: 18px;
  }
  article .order-total-price .order-total-sale .order-sale {
    font-size: 18px;
  }
  article .order-total-price .order-total {
    max-width: 300px;
    margin-top: 35px;
  }
  article .order-total-price .order-total .order-summ {
    font-size: 20px;
  }
  article .order-total-price .order-total .order-total-currency {
    font-size: 20px;
  }
  article .order-total-price .order-button {
    max-width: 300px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 20px;
  }
  article .order-total-price .order-button .btn-order {
    font-size: 20px;
  }
  footer .container .row .footer-text {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  footer .container .row .footer-text p a {
    white-space: nowrap;
  }
}/*# sourceMappingURL=style.css.map */